.crit-controls {
  display: flex;
  justify-content: space-between;
}

.crit-pointvalue {
  border-radius: 50px !important;
}

.edit-crit-pointvalue-comment-form {
  display: flex;
  align-items: center;
}
