.assignment-header-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .custom-switch {
    display: flex;
    align-items: center;
  }

  .custom-control-label {
    padding-top: 2px;
  }
}
