.feedback-controls {
  display: flex;

  #copy-button {
    flex-grow: 2;
    margin-right: 2px;
  }

  #reset-button {
    flex-grow: 1;
    margin-left: 2px;
  }
}

.feedback-list-help {
  font-size: 0.8rem;
}
